---
const { title, text, image, imageAlt = "Hero billede", variant = "full" } = Astro.props; //to varianter, full eller halv
---
<!-- 

tilføj "variant" variabel som klasse, så den specifikke variant af hero kan styles. 
hvis variant "half", sæt "container" på 
-->
<section class={`hero hero-${variant} ${variant === 'half' ? 'container' : ''}` }>
  <div class={`${variant === 'full' ? 'container' : ''}` }> 
    <div class="hero-text">
      <h1>{title}</h1>
      <p>{text}</p>
      <slot />
    </div>

  </div>

  <div class="hero-image">
    <img src={image} alt={imageAlt} />
  </div>
</section>

<style>
  .hero {
    padding: 70px 0 40px;
    display: grid;
    grid-template-columns: 1fr 1.1fr;
    align-items: center;
    gap: 60px;
  }

  .hero h1 {
    font-size: 54px;
    margin-bottom: 22px;
  }

  .hero p {
    font-size: 22px;
    line-height: 1.25;
    max-width: 430px;
    margin-bottom: 32px;
  }

  .hero-image img {
    border-radius: 160px 160px 24px 24px;
    height: 430px;
    object-fit: cover;
  }

  .hero.hero-full {
    display: block;
    position: relative;
    overflow: hidden;
    min-height: 600px;
  }

  .hero.hero-full .hero-text {
    max-width: 420px;
  }

  .hero-full .hero-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  .hero-full .hero-image img {
    border-radius: 0;
    height: auto;
  }
</style>